/* アプリの説明 */
.sa-plag_whats {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #000000;
  border-radius: 8px;
}
.sa-plag_whats .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #000000;
  font-weight: bold;
}
.sa-plag_whats p {
  margin: 0;
  padding: 0;
}

/* 色々中央揃え */
.sa-plag_center {
  text-align: center;
}

/* タイトル */
.sa-plag_title_logo {
  width: 20%;
  height: auto;
}
.sa-plag_title {
  width: 70%;
  height: auto;
  text-align: left;
}
.sa-plag_title_font {
  font-size: 4em;
}

/* デモ画像 */
.sa-plag_demo {
  width: 100%;
  height: auto;
}

/* SHロゴ画像 */
.sa-plag_sh {
  width: 40%;
  height: auto;
}
