/** @format */

.whats_sa_plag {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #000000;
  border-radius: 8px;
}
.whats_sa_plag .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #000000;
  font-weight: bold;
}
.whats_sa_plag p {
  margin: 0;
  padding: 0;
}
