/** @format */

.achievement_year,
.achievement_url {
  width: 20%;
}

.achievement_detail {
  width: 60%;
}
.achievement_table th {
  border-bottom: 1px solid #353a40;
}
.achievement_content:hover {
  background-color: #dcdcdc;
}
.achievement_title {
  font-size: 1.1em;
}

/* 表形式の詳細コンテンツ */

.achievement_min-table-title {
  border-right: solid 3px skyblue;
}

.achievement_min-table-content {
  width: 80%;
  padding: 0.5em 1em 0.5em 1.5em;
}

.achievement_min-table-content ul li {
  line-height: 1.2;
  padding: 0.5em 0;
}

.achievement_min-table tr:hover {
  background-color: #cccccc;
}

/* リスト形式の詳細コンテンツ */

.achievement_details ul {
  border: solid 2px skyblue;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
}

.achievement_details ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}
