details  ul {
    border: solid 2px skyblue;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
}

details  ul li {
    line-height: 1.5;
    padding: 0.5em 0;
}

details ul li:before {
    color: skyblue;
}