/* 全体 */

.ctf_hidden-box {
  margin: 0.5em 0;
  padding: 0;
}

/* ボタン装飾 */
.ctf_hidden-box label {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  background: #efefef;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

/* ボタンホバー時 */
.ctf_hidden-box label:hover {
  background: silver;
}

/* チェックは見えなくする */
.ctf_hidden-box > input {
  display: none;
}

/* 中身を非表示にしておく */
.ctf_hidden-box .ctf_hidden-show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/* クリックで中身表示 */
.ctf_hidden-box input:checked ~ .ctf_hidden-show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
