/*全体*/
.hidden_box {
    margin: 0.5em 0;
    padding: 0;
}


/*ボタン装飾*/
.hidden_box label {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    background: #efefef;
    border-radius: 5px;
    cursor :pointer;
    transition: .5s;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: silver;
}

/*チェックは見えなくする*/
.hidden_box > input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}