/* ホバーしたとき名前を変える処理 */

.index_rotate .index_front {
  animation: 3s fadeIn forwards;
}
.index_rotate .index_back {
  display: none;
}
.index_rotate:hover .index_front {
  animation: 3s fadeOut forwards;
  display: none;
}
.index_rotate:hover .index_back {
  animation: 3s fadeIn forwards;
  display: inline-block;
  vertical-align: top;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* レスポンシブ処理 */
@media (max-width: 500px) {
  .index_icon {
    text-align: center;
  }
}
@media (min-width: 500px) {
  .index_flexbox {
    display: flex;
  }
}

/* 枠線 */
.index_box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 2px #000000;
  border-radius: 8px;
  width: 14em;
  font-size: 2;
}
.index_box .index_box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #fff;
  color: #000000;
  font-weight: bold;
}
.index_box span {
  margin: 0;
  padding: 0;
}

/* フッターのメニュー */
.index_footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.index_footer-column {
  width: 19%;
  text-align: center;
  border: 2px solid #eee;
  box-sizing: border-box;
  margin: 2px 2px;
}
.index_footer-column h3 {
  background: #353a40;
  color: #fff;
  padding: 10px;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .index_footer-munu {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .index_footer-column {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    width: 10em;
  }
}
.index_scale:hover {
  transform: scale(1.1);
}
