.slide_title {
  font-size: 2em;
  font-weight: bold;
}
.slide_desc {
  color: gray;
}

.slide_keyword_list {
  float: left;
  margin-left: 5px;
}
.slide_keyword {
  padding: 0em 0.5em;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  height: 1.5em;
}

/* スライドのPDF表示部分 */
.slide_pdf_view {
  /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.66); */
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* スライドのページ操作 */
.slide_pdf_operate {
  text-align: center;
}

/* スライドの表示とページ操作 */
.slide_pdf_view_op {
  padding: 5px;
  background-color: gray;
}

/* スライド一覧 */
.slides_switch {
  position: absolute;
  z-index: 1;
  left: 20px;
  margin: 0;
  padding: 5px;
  border-radius: 3%;
  border: solid 2px #95ccff;
  background-color: white;
}
.slides_switch:hover {
  background: #eaf5fd;
}
.slides_switch li {
  list-style: none;
  background: #d4ebff;
  padding: 0.4em;
  margin-bottom: 5px;
  margin-left: -20px;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;
}
.slides_switch li:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0.5em;
  height: 0.5em;
  background: #fff;
  border-radius: 50%;
  margin-right: 4px;
}
.slides_switch_button {
  display: inline-flex;
  flex-direction: column;
}
/* 開閉時にアニメーションを設定 */
.slide_detail > details[open] .slide_detail-content {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* 透明 */
    transform: translateY(-10px); /* 上から表示 */
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
